<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024783629671-is1eqhmta58q5irnoajs364dau3do7ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024783629671-is1eqhmta58q5irnoajs364dau3do7ce</string>
	<key>API_KEY</key>
	<string>AIzaSyDEfB_bBrB4WTRJ08sIRn6fbppQHMtAx_w</string>
	<key>GCM_SENDER_ID</key>
	<string>1024783629671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.TravellerAppPart1</string>
	<key>PROJECT_ID</key>
	<string>travellerapp-290b3</string>
	<key>STORAGE_BUCKET</key>
	<string>travellerapp-290b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024783629671:ios:b3eeffdfe05aa6a98b03c2</string>
</dict>
</plist>